.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  label {
    font-size: 14px;
    color: var(--ev-c-text-2);
    font-weight: 600;
    margin-bottom: 10px;
  }

  .slider {
    height: 6px;
    cursor: pointer;
  }
}
