.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 14px;
  color: var(--ev-c-text-2);
  font-weight: 600;
}

.slider-container .slider {
  height: 6px;
  cursor: pointer;
  width: 200px;
}

.slider-container .input-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
