.header-container {
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: var(--ev-c-black-soft);
  color: var(--ev-c-text-1);

  .img-container {
    -webkit-app-region: no-drag;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 6px;

    img {
      height: 16px;
      width: 16px;
    }

    .config-image {
      height: 13px;
      width: 13px;
    }
  }

  .img-container:last-child {
    padding-right: 10px;
  }

  .img-container:hover {
    background-color: var(--ev-c-black-mute);
    cursor: pointer;
  }

  span {
    text-align: center;
  }
}
